<section class="bg-img shadow">
  <div class="container-fluid">
      <div class="row py-3">
        <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="row p-3">
                  <div class="card p-3 shadow float-right">
                      <div class="text-center">
                          <img src="../../assets/resetPasswrd.png" alt="logo" style="width: 100px; height: 100px;" >
                          <h1 class="mt-2" style="font-weight: 600; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Reset Password</h1>
                      </div><br>
                      <div class="row py-3">
                          <form [formGroup]="form" (ngSubmit)="resetPassword()">
                              <p class="d-grid gap-2 px-2 my-2">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Enter username" formControlName="loginname" autocomplete="off">
                                    <mat-error *ngIf="formCtrl.loginname.errors?.required">Username is required</mat-error>
                                  </mat-form-field>
                              </p> 
                              <p class="d-grid gap-2 px-2 my-2">
                                  <mat-form-field appearance="outline">
                                      <mat-label>Password</mat-label>
                                      <input matInput placeholder="Enter password" formControlName="password" autocomplete="off" [type]="showPass ? 'password' : 'text'">
                                      <mat-icon matSuffix (click)="showPass = !showPass"><span class="material-symbols-outlined"> {{showPass ? 'visibility' : 'visibility_off'}} </span></mat-icon>
                                      <mat-error *ngIf="formCtrl.password.errors?.required">Password is required</mat-error>
                                      <mat-error class="mb-6" *ngIf="formCtrl.password.errors?.pattern">Password must contain more than 5 characters,1 numeric,1 upper case letter and 1 special character($@$!%*?&).</mat-error>
                                    </mat-form-field>
                              </p>
                              <p class="d-grid gap-2 px-2 mt-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput placeholder="Confirm Password" formControlName="conpassword" autocomplete="off"  [type]="showPass1 ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="showPass1 = !showPass1"><span class="material-symbols-outlined"> {{showPass1 ? 'visibility' : 'visibility_off'}} </span></mat-icon>
                                    <mat-error *ngIf="formCtrl.conpassword.errors?.required">Confirm password is required</mat-error>
                                    <mat-error *ngIf="passwordMatchError">password does not match</mat-error>
                                </mat-form-field>
                            </p>
                              <div class="text-center mt-2">
                                <button type="submit" class="btn btn-secondary me-2" routerLink="/home">Cancel</button>
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </div>
                          </form>
                      </div>
                    
                <br>
                          <div class=" text-center mt-5">
                              <span style="color: brown;">Powered by :</span>  <a href="https://augtrans.com/" > Augmented Transformations</a>
                          </div>
                  
                  </div>
              </div>
          </div>
       
      </div>
  </div>
</section>
